body{
    font-family: 'Sarala', sans-serif;
}
#nuevo{
    border: 1px solid grey;
    border-radius: 5px;
    height: 10vw;
    width: 90vw;
    margin: auto;
}
#nuevo span p{
    width: 9vw;
    display: inline-block;
    margin: 0.2vw;
}
#lista{
    width: 90vw;
    margin: auto;
}
#lista span p{
    display: inline-block;
    margin:0px;
}
#lista div{
    border: 1px solid grey;
    border-radius: 5px;
    height: 10vw;
}
#lista div span h2{
    margin:0px;
}
h1{
    text-align: center;
}
#cerrarS{
    background-color: grey;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: default;
}